.main-menu {
	background: url('../img/head_03.png') no-repeat;
	background-size: cover;
	width: 620px;
	height: 138px;
	float: left;
	position: relative;
	margin-left: 130px;
	transform: skewX(-25deg);
	&__list {
		transform: skewX(25deg);
		list-style: none;
		padding: 0;
		margin: 0;
		.clearfix();
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 20px;
		margin-top: -(35px / 2);
	}
	&__item {
		float: left;
		background: none;
		transition: background .3s;
		transform: skewX(-25deg);
		&:hover {
			background: #212121 linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
		}
	}
	&__link {
		display: inline-block;
		font-weight: 600;
		font-size: 16px;
		color: #262626;
		padding: 0 12px;
		transform: skewX(25deg);
		vertical-align: middle;
		height: 35px;
		line-height: 35px;
		&:hover {
			color: #fff;
		}
	}
}

.menu-btn {
	display: inline-block;
	position: absolute;
	width: 46px;
	height: 36px;
	top: 11px;
	right: 15px;
	background: #272727;
	border-radius: 5px;
	border: solid 1px #363636;
	cursor: pointer;
	&:hover {
		.icon {
			fill: #9CBE14;
		}
	}
	&:active {
		.icon {
			transition: none;
			fill: darken(#9CBE14, 10%);
		}
	}
}