<div class="article">
	<h1 class="title">
		<div class="title__background"></div>
		<div class="title__text">О компании</div>
	</h1>
	<p class="article__text">
		Компания «UseTech» (“Юзтех”) основана в 2006 году.
	</p>
	<p class="article__text">
		Основные направления нашей деятельности - полный спектр работ в области заказной разработки программного обеспечения, независимое тестирование и консалтинг. Также компания оказывает услуги в области юзабилити, поэтому все наши решения отличаются грамотным, эстетически красивым интерфейсом и продуманной навигацией.
	</p>
	<p class="article__text">
		За нашими плечами сотни успешно созданных и внедрённых проектов разработки ПО на заказ. Вся работа компании нацелена на достижение максимальных результатов для наших заказчиков за счёт основных факторов успешности:
	</p>
	<ul class="article__list">
		<li class="article__item">
			Использование широкого спектра самых современных технологий разработки программного обеспечения;
		</li>
		<li class="article__item">
			Прозрачность производственных процессов и использование лучших мировых практик разработки программного обеспечения;
		</li>
		<li class="article__item">
			Экспертные знания собственной предметной области, глубокие отраслевые экспертизы и понимание ключевых бизнес-процессов, позволяют UseTech выступать в качестве надежного IT-партнера.
		</li>
	</ul>
</div>
