<div class="client-slider">
	<div class="ocarousel"
		data-ocarousel-period="50000"
		data-ocarousel-perscroll="1"
		data-ocarousel-cycle="true"
		>
		<ul class="ocarousel_window client-slider__list">
			<li class="client-slider__item">
				<a href="#" class="client-slider__link">
					<img src="img/clients/kfc.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/duma.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/mediamarkt.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/metro.png" alt="" class="client-slider__img">
				</a>
			<li class="client-slider__item">
				<a href="#" class="client-slider__link">
					<img src="img/clients/duma.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/kfc.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/mediamarkt.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/metro.png" alt="" class="client-slider__img">
				</a>
			</li>
			<li class="client-slider__item">
				<a href="#" class="client-slider__link">
					<img src="img/clients/kfc.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/mediamarkt.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/duma.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/metro.png" alt="" class="client-slider__img">
				</a>
			</li>
			<li class="client-slider__item">
				<a href="#" class="client-slider__link">
					<img src="img/clients/kfc.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/duma.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/metro.png" alt="" class="client-slider__img">
				</a>
				<a href="#" class="client-slider__link">
					<img src="img/clients/mediamarkt.png" alt="" class="client-slider__img">
				</a>
			</li>
		</ul>
		<div class="ocarousel_indicators"></div>
	</div>
</div>