<div class="article">
	<h1 class="title">
		<div class="title__background"></div>
		<div class="title__text">События</div>
	</h1>
	<div class="events">
		<ul class="events__list">
			<li class="events__item">
				<h2 class="events__title">
					Система учета информации по потреблению энергоресурсов
				</h2>
				<p class="events__text">
					<img class="events__img" src="img/fig-01.png" alt="">
					Usetech помогает компании Заказчика обеспечить пользователям доступ к данным о потреблении различных энергоресурсов и упростить процесс оплаты затраченных энергоресурсов. Под энергоресурсами подразумеваются потребляемые пользователями и счетчиками ресурсы: электроэнергия, вода, газ и тепло.
				</p>
				<div class="events__info">
					<div class="events__date">
						16 июня 2014 года
					</div>
					<a href="#" class="events__more">
						<span class="events__more-text">
							Подробнее...
						</span>
					</a>
				</div>
			</li>
			<li class="events__item">
				<h2 class="events__title">
					Мониторинг выполнения задач с привязкой к местности и реальному времени
				</h2>
				<p class="events__text">
					<img class="events__img" src="img/fig-01.png" alt="">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias recusandae sit, a amet placeat quod, eos laborum eaque tenetur vero beatae qui libero repellendus enim nostrum animi adipisci dolor, distinctio!
				</p>
				<div class="events__info">
					<div class="events__date">
						16 июня 2014 года
					</div>
					<a href="#" class="events__more">
						<span class="events__more-text">
							Подробнее...
						</span>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
