<footer class="site-footer">
    <!-- Footer menu -->
    <div class="site-footer__menu">
        <!-- Footer menu item -->
        <nav class="footer-menu">
            <h1 class="footer-menu__title">
                О компании
            </h1>
            <ul class="footer-menu__list">
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        История
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Наши события
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Карьера
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Footer menu item -->
        <nav class="footer-menu">
            <h1 class="footer-menu__title">
                Услуги
            </h1>
            <ul class="footer-menu__list">
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Заказная разработка ПО
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Построение выделенных центров
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Независимое тестирование
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        UI/Usability
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Миграция и реинжиниринг
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Footer menu item -->
        <nav class="footer-menu">
            <h1 class="footer-menu__title">
                Наши проекты
            </h1>
            <ul class="footer-menu__list">
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Ритэйл
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Государственный сектор
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Медицина
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Телекоммуникации
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Footer menu item -->
        <nav class="footer-menu">
            <h1 class="footer-menu__title">
                Решения
            </h1>
            <ul class="footer-menu__list">
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Технологии
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Портальные решения
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Мобильные решения
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Автоматизация бизнес-процессов
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        Системы видеоконференций
                    </a>
                </li>
                <li class="footer-menu__item">
                    <a href="#" class="footer-menu__link">
                        OLAP/BI
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Footer info -->
    <div class="site-footer__info">
        <!-- Info container -->
        <div class="site-footer__info-container">
            <img src="img/ut_sm.png" alt="" class="site-footer__info-logo">
            <div class="site-footer__info-copyright">
                <p class="site-footer__info-copyright-text">
                    2006-2014 Usetech Integration
                </p>
                <p class="site-footer__info-copyright-text">
                    Software development for successful business
                </p>
            </div>
        </div>
        <!-- Info container -->
        <div class="site-footer__info-container">
            <p class="site-footer__info-copyright-text">
                125480, г. Москва, ул. Новослободская д. 3 (4-й этаж, офис "Юзтех")
            </p>
            <p class="site-footer__info-copyright-text">
                Тел. +7(495)660-50-48 E-mail: <a href="mailto: info@usetech.ru">info@usetech.ru</a>
            </p>
        </div>
    </div>
</footer>