<header class="site-header row">
    <div class="col-md-12">
        <!-- Logo -->
        <a href="#" class="logo"></a>
        <!-- Main menu -->
        <nav class="main-menu js-menu hide-md hide-sm hide-xs">
            <ul class="main-menu__list">
                <li class="main-menu__item active">
                    <a href="#" class="main-menu__link">О компании</a>
                </li>
                <li class="main-menu__item">
                    <a href="#" class="main-menu__link">Услуги</a>
                </li>
                <li class="main-menu__item">
                    <a href="#" class="main-menu__link">Технологии</a>
                </li>
                <li class="main-menu__item">
                    <a href="#" class="main-menu__link">Решения</a>
                </li>
                <li class="main-menu__item">
                    <a href="#" class="main-menu__link">Проекты</a>
                </li>
                <li class="main-menu__item">
                    <a href="#" class="main-menu__link">Контакты</a>
                </li>
            </ul>
        </nav>
        <!-- Menu button -->
        <div class="menu-btn js-menuBtn hide-lg">
            <svg viewBox="0 0 43.994 33.996" class="icon icon-menu">
                <use xlink:href="#menu"></use>
            </svg>
        </div>
        <!-- Info -->
        <div class="info hide-md hide-sm hide-xs">
            <div class="info__phone">
                <a href="tel:+7(459)660-50-48" class="info__phone-link">
                    <svg viewBox="0 0 13.119 19.003" class="icon icon-phone">
                        <use xlink:href="#phone"></use>
                    </svg>
                    <span class="info__phone-code">+7 (495) </span>
                    660-50-48
                </a>
            </div>
            <div class="info__email">
                <a href="email:info@usetech.ru" class="info__email-link">
                    <svg viewBox="0 0 12.996 12.009" class="icon icon-plane">
                        <use xlink:href="#plane"></use>
                    </svg>
                    info@usetech.ru
                </a>
            </div>
        </div>
    </div>
</header>