<div class="slider">
	<div class="slide">
		<h1>slide 1</h1>
	</div>
	<div class="slide">
		<h1>slide 2</h1>
	</div>
	<!-- and so on -->
	<div class="fs_loader"><!-- shows a loading .gif while the slider is getting ready --></div>
</div>