<div class="slider">
	<div class="slide">
		<div class="slide__number-shadow slide__number-shadow_1" data-position="0,272"></div>
		<div class="slide__number-img slide__number-img_1" data-position="0,272"></div>
		<div class="slide__background slide__background_1" data-position="0,400"></div>
		<h1 class="slide__title" data-position="23,0">
			Заказная разработка программного обеспечения
		</h1>
		<p class="slide__text slide__text_dark" data-position="170,0">
			Услуги UseTech в области разработки новых приложений позволяют эффективно решать спектр задач, связанных с автоматизацией уникальных бизнес-процессов современных предприятий
		</p>
		<p class="slide__text" data-position="162,480">
			Портальные решения<br>
			Системы автоматизации бизнеса<br>
			Хранилища данных и систем анализа информации<br>
			Системы потоковой обработки данных<br>
			Мобильные решения
		</p>
		<a href="#" class="slide__more" data-position="128,935">
			<span class="slide__more-text">
				Узнать подробности
			</span>
		</a>
	</div>
	<div class="slide">
		<div class="slide__number-shadow slide__number-shadow_2" data-position="0,272"></div>
		<div class="slide__number-img slide__number-img_2" data-position="0,272"></div>
		<div class="slide__background slide__background_2" data-position="0,400"></div>
		<h1 class="slide__title" data-position="23,0">
			Построение выделенных центров разработки программного обеспечения
		</h1>
		<p class="slide__text slide__text_dark" data-position="170,0">
			Для решения комплекса задач в IT сфере<br>
			UseTech предлагает создание выделенного<br>
			центра разработки ПО, что позволит<br>
			Заказчику решать эти вопросы с меньшими<br>
			затратами и лучшим качеством
		</p>
		<p class="slide__text" data-position="162,480">
			Заказная разработка и сопровождение<br>
			программного обеспечения<br>
			Независимое тестирование<br>
			Проектирование пользовательских интерфейсов<br>
			Миграция и реинжиниринг IT-систем
		</p>
		<a href="#" class="slide__more" data-position="128,935">
			<span class="slide__more-text">
				Узнать подробности
			</span>
		</a>
	</div>
	<div class="slide">
		<div class="slide__number-shadow slide__number-shadow_3" data-position="0,272"></div>
		<div class="slide__number-img slide__number-img_3" data-position="0,272"></div>
		<div class="slide__background slide__background_3" data-position="0,400"></div>
		<h1 class="slide__title" data-position="23,0">
			Заказная разработка программного обеспечения
		</h1>
		<p class="slide__text slide__text_dark" data-position="170,0">
			Для клиентов, которым требуется объективное<br>
			мнение об используемом или производимом<br>
			программном обеспечении и дополнительные<br>
			ресурсы для проведения работ по контролю<br>
			качества программных средств
		</p>
		<p class="slide__text" data-position="162,480">
			Функциональное, нагрузочное и конфигурационное<br>
			тестирование ПО, тестирование на совместимость<br>
			Анализ безопасности<br>
			Компонентное тестирование<br>
			Usability тестирование
		</p>
		<a href="#" class="slide__more" data-position="128,935">
			<span class="slide__more-text">
				Узнать подробности
			</span>
		</a>
	</div>
	<!-- and so on -->
	<div class="fs_loader"><!-- shows a loading .gif while the slider is getting ready --></div>
</div>