<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Grunt frontend boilerplate</title>
    <link rel="stylesheet" href="css/main.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <!-- Site header -->
        <header class="site-header">
            <!-- Logo -->
            <div class="logo">
                <img src="img/ut_logo.png" alt="UseTech logo" class="logo__img">
            </div>
            <!-- Main menu -->
            <nav class="main-menu">
                <ul class="main-menu__list">
                    <li class="main-menu__item active">
                        <a href="#" class="main-menu__link">О компании</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link">Услуги</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link">Технологии</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link">Решения</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link">Проекты</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <!-- Info -->
            <div class="info">
                <div class="info__phone">
                    <a href="tel:+7(459)660-50-48" class="info__phone-link">
                        <span class="info__phone-code">+7 (495) </span>
                        660-50-48
                    </a>
                </div>
                <div class="info__email">
                    <a href="email:info@usetech.ru" class="info__email-link">
                        info@usetech.ru
                    </a>
                </div>
            </div>
        </header>
        <!-- Slider -->
        <div class="slider">slider</div>
        <!-- Main content -->
        <main class="content"></main>
        <!-- Site footer -->
        {{>footer}}
    </div>
    <script src="vendors/plugins.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>